html, body, td, p, a, h1, h2, h3, h4, h5 {
	font-family: Lato,Arial,Helvetica,sans-serif;
}
html, body, td, p, a {
	font-size: 15px;
}
a:link {
	color: #000;
}
a:hover ,
a:visited {
	color: #333;
}

nav ul ,
nav li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	border: 0;
}
nav ul {
	width: 100%;
}
nav li {
	padding-left: 32px;
}
nav li a ,
nav li a:visited ,
nav li a:link {
	display: block;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0;
	font-style: normal;
	color:#515b69;
	padding: 5px 4px 10px
}
nav li a:hover {
	color: #ec0085;
}

footer{
    min-height: 32px;
    margin-top: 60px;
	background: #ecf0f5;
}

.textright{
	text-align: right;
}
.textleft{
	text-align: left;
}


th, td {
	padding-left: 10px;
}
td {
	padding-top: 6px;
	padding-bottom: 6px;
}
th:first-child,
td:first-child {
	padding-left: 0;
}

.row{
	box-sizing: border-box;
	display:block;
	width:100%;
	padding-left: 3%;
	padding-right: 3%;
}
.masthead{
	display:block;
	height: 38px;
	padding-left: 2%;
	padding-right: 2%;
    margin: 3% 0 2%;
}
.wrapLogo {
	float: left;
}
.wrapNav {
	float: left;
}

.topbar{
	display:block;
	padding: 7px 2% 8px;
	background-color: #ec0085;
	color:#fff;
	font-weight: 600;
	font-size: 90%;
}
.topbar a,
.topbar a:link{
	color: #fff;
	font-size: 90%;
}
.lhscolumn{
	box-sizing: border-box;
	width:60%;
	float:left;
	
	height:100%;
	padding-left: 2%;
	padding-right: 2%;
}
.rhscolumn{
	box-sizing: border-box;
	width:40%;
	float:right;
	padding-left: 2%;
	padding-right: 2%;
}
/* Clear floats after the columns */
form:after ,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.wrapLogo img{
	width:180px;
}

.wrapDesignCanvas{
	display:block;
	position: relative;
	width: 100%;
	height: 1;
	height: 0;
	padding-top: 120%;
	background: transparent !important;
	margin: 0 auto;
	overflow: hidden; /** not sure if we need this */ 
}

.wrapDesignCanvas canvas{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

/** Form */	
.form-group{
	box-sizing: border-box;
	float: left;
	position: relative;
	width: 100%;
	padding-left: 260px;
	margin: 1% 0;
	font-size: 110%;
}
.form-group:after {
  content: "";
  display: table;
  clear: both;
}

.form-group label{
	position: absolute;
	top:13px;
	left:0;
	width: 240px;
	float: left;
	display: block;
}
.form-group input,
.form-group select{
	border: 1px solid #c0c0c0;
	width: 100%;
	padding: 12px 3%;
}
.form-group input{
	width: 94%;
}
.form-group select{
	width: 100%;
}
.form-group .submit ,
.form-group input[type=submit] {
	float: right;
	width: 50%;
}

#formWarnings {
	
}
#formWarnings ul {
	background: #fffde8;
	border: 2px solid #ffe600;
	padding-top: 6px;
	padding-bottom: 6px;
}

/** pricebox */	
.priceblock table{
	width: 100%;
	border-top: 1px solid #000;
}

/** 3d rendering area */	
#DesignCanvas {
    	width   : 100%;
    	height  : 100%;
    	touch-action: none;
}

.wrapEstimate{
	display:block;
}
.wrapEstimate table{
	width:100%;
	
}

.estimateItemName{
	width: 60%;
}

.estimateItemQuantity,.estimateItemPrice,.estimateItemFreight,.estimateItemTotal {
	width:10%;	
}

.wrapEstimate td table{
	width:100%;
	
}
.wrapEstimate td table th{
	text-align:right;

}
.wrapEstimate button{
	width: 100%;
	background-color: #357CFF;
    padding: 12px 3%;
    border: 1px solid #3336ff;
	color:#ffffff;
}

.wrapMenu{
	margin: 24px 4px;
}

.wrapMenu li{
	list-style:none;
}
.menu{
	
}